html,
body {
    background-color: #f7f4f1;
}


header {
    position: relative;
    width: 100%;
    /*  */
    height: calc(88rem / 64);
    background-color: #ff9b25;
}

header i {
    position: absolute;
    top: calc(28rem / 64);
    left: calc(20rem / 64);
    width: calc(20rem / 64);
    height: calc(32rem / 64);
    background-image: url(../imags/back_icon.png);
    background-size: calc(20rem / 64) calc(32rem / 64);
    background-repeat: no-repeat;
}

header span {
    font-size: calc(32rem / 64);
    line-height: calc(88rem / 64);
    margin-left: calc(56rem / 64);
    color: #fff;
}


.qcyh {
    height: calc(84rem/64);
    width: 100%;
    overflow: hidden;
    background-color: #f7f4f1;
}

.qcyh h3 {
    padding-left: calc(24rem/64);
    color: #282727;
    font-size: calc(28rem/64);
    line-height: calc(84rem/64);
    float: left;
    font-weight: 600;
}

.qcyh span {
    float: right;
    color: #a0a09f;
    font-size: calc(28rem/64);
    line-height: calc(84rem/64);
    padding-right: calc(26rem/64);
}


.tj {
    height: calc(224rem/64);
    width: 100%;
    background-color: #f7f4f1;
}

.tjyh {
    width: 92%;
    height: 100%;
    margin: 0 calc(24rem/64);
    background-color: #ffffff;
    position: relative;

}

.tjyh img {

    width: 100%;
    height: 100%;
}


.tjyx {
    width: calc(104rem/64);
    height: calc(104rem/64);
    border-radius: 50%;
    border: 2px solid #aeaeae;
    box-sizing: border-box;
    position: absolute;
    top: calc(42rem/64);
    left: calc(247rem/64);
}

.tjyh1,
.tjyh2 {
    background-color: #aeaeae;
    border: 1px solid #aeaeae;
    box-sizing: border-box;
    position: absolute;

}

.tjyh1 {
    width: calc(4rem/64);
    height: calc(80rem/64);
    top: calc(9rem/64);
    left: calc(47rem/64);
}

.tjyh2 {
    width: calc(80rem/64);
    height: calc(4rem/64);
    top: calc(47rem/64);
    left: calc(9rem/64);
}

.tjyh span {
    display: block;
    position: absolute;
    top: calc(156rem/64);
    left: calc(260rem/64);
    color: #aeaeae;
}


.ft1,
.ft2,
.ft3 {
    color: #aeaeae;
}

.ft1 {
    margin-top: calc(122rem/64);
}

.ft2,
.ft3 {
    margin-top: calc(20rem/64);
}