$colors : #ccc;
$center:100px auto;
$wh:100px;
$ysasb:1px solid #6046a8;
$bac:rgb(158, 52, 52);

body {

    width: 100px;
}


header {
    background-color: $colors;
    margin: $center;
}



div {
    width: $wh;
    height: $wh;
    border: $ysasb;
    background-color: $bac;

    a {
        width: 20px;
        height: 10px;
    }

    a:hover {
        color: #000;
    }

    &:first-child {
        color: red($color: #f1f1f1);
    }
}


div {
    &+nav {
        margin-top: 100px;
    }

    >a {
        color: hue($color: #000000);
    }

    ~i+span {
        color: #2d81b3;
    }
}


// 下面这个权限貌似高一些
// 下面不行
// 真的给我搞蒙了，现在好了
@mixin hmp($wpe, $hpe) {
    width: $wpe;
    height: $hpe;
}

.w {
    @include hmp(100px, 200px)
}






.wx {
    >a {
        color: red;

        &+b {
            color: gray;
        }

        &~i {
            color: blue;
        }
    }
}



@mixin sbmz($zghy, $qxg, $ysa, $dyjh) {
    width: $zghy;
    height: $qxg;
    background-color: $ysa;
    font-size: $dyjh;


}

.wx {
    @include sbmz(100px, 300px, rgb(22, 223, 56), 30px)
}