ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

body {
    background-color: #fff;
}

.container {
    /* width: 1254px; */
}

/* 1. 头部 */
.header {
    width: 100%;
    border-bottom: 1px solid #c6cbcf;
}

header {}

header ul {}

header li {
    float: left;
    color: #8d8d8d;
    font-size: 12px;
    text-align: center;
    padding: 12px 0;
    border-left: 1px solid #c6cbcf;
    position: relative;
}

header li:nth-child(1) {
    border-left: 0;
}

@media screen and (min-width:768px) {
    header li:nth-child(2) {
        border-left: 0;
    }
}

@media screen and (min-width:992px) {
    header li:nth-child(2) {
        border-left: 1px solid #c6cbcf;
    }
}

header .btn1 {
    color: #fff;
    background-color: #e61e25;
    padding: 2px 6px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 108px;
}

@media screen and (max-width:1200px) {
    header .btn1 {
        position: absolute;
        top: 10px;
        left: 76px;
    }
}

@media screen and (max-width:992px) {
    header .btn1 {
        position: absolute;
        top: 10px;
        left: 42px;
    }
}