@media screen and (orientation: landscape) {
    div {
        width: 100px;
        height: 100px;
        font-size: 20px;
        background-color: darkgoldenrod;
    }
}

@media screen and (orientation: portrait) {
    div {
        width: 200px;
        height: 200px;
        font-size: 40px;
        background-color: coral;
    }
}